.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .login-card {
    width: 500px;
    max-width: 90%;
  }
  .card-c{
    width: 460px;
  }
  .login-card-title {
    text-align: center;
  }
  .login-card-title1 {
    text-align: center;
    padding-bottom: 35px;
  }
  .spinner-message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  