<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button
        mat-menu-item
        [disabled]="!log"
        (click)="loguear_beneficio()"
        id="solIns"
        #solIns
      >
        <mat-icon>emoji_people</mat-icon>
        <span>Conectar con beneficio</span>
      </button> -->
      <button mat-menu-item routerLink="/sol-cuenta" [disabled]="!log" #solCta>
        <mat-icon>auto_stories</mat-icon>
        <span>Ingresar Pesaje</span>
      </button>
      <button
        mat-menu-item
        [disabled]="!log"
        routerLink="/productores"
        #productores
      >
        <mat-icon>handshake</mat-icon>
        <span>Consultar Pesaje</span>
      </button>
     
    </mat-menu>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon> -->
    <button *ngIf="!log" mat-icon-button routerLink="/login" #person>
      <mat-icon>person</mat-icon>
    </button>
    <button *ngIf="log" mat-icon-button #logout (click)="salida()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
